header.title.cf
  if base.title
    h1 #{base.title}

  .subline.cf
    if base.contacts
      .contacts
        if base.contacts.data
          each val, index in base.contacts.data
            span.contact.meta.dark(class=index) #{val}

        if base.contacts.profiles
          each val, index in base.contacts.profiles
            span.contact.meta.dark(class=index)
              a(class=index, href=val.url, target='_blank', title='Go to my ' + val.label + ' profile') #{val.label} profile

    if base.addons
      .gallery
        if base.addons.gallery
          span.meta.dark
            a.gallery-trigger(data-toggle='modal', data-target='#gallery-overview') #{base.addons.gallery.label}
