mixin projectLine(item, index)
  h3.name #{item.name}
  span.links.meta
    if item.status === 'dev'
      | in progress
    else if item.status === 'stop'
      span(title='My technical implementation was cancelled.') cancelled
    else if item.status === 'prod'
      if item.url
        a(href=item.url, target='_blank') production
      else
        a.dead(title='My technical implementation is no longer used.') production

    - var shotsLabel = (item.shots !== 1 ? 'screenshots' : 'screenshot')
    a.screenshots(rel=index, data-title=item.name, data-toggle='modal', data-target='#gallery-slider') #{shotsLabel}
